/*body#color{
background:#f6f6f6 url(../images/gray/mainbg.jpg) no-repeat center top;
}*/
body#color{
background:#660000;
}
#centerbottom{
background:#fff;
}
#header{
background:url(../images/headerbg.gif) repeat-x left bottom;
}
#logo{
background: url(../images/gray/logo.png) no-repeat 5px 3px;
}
/*#banner{
background: url(../images/gray/bannerbg.png) no-repeat center top;
}*/
/*searchbox
--------------------- */
.search{
}
.search .inputbox{
}
/*login module
--------------------- */
#modlgn_passwd, #modlgn_username {
color:#232323;
border:1px solid #ececec;
}
#modlgn_passwd  {
background: #fff ;
}
#modlgn_username {
background: #fff;
}
#mod_login_remember{
border: none;
padding: 0!important;
}
/*template css 
--------------------- */
a:link, a:visited {
text-decoration: none;
color:#232323;
}
a:focus,a:hover {
color:#c2c2c2;
text-decoration: none;
}
h1,h3,h4,
h5,h6,h2 {
color:#232323;
}
.small,.mosimage_caption{
text-transform: uppercase;
color:#ccc;
font: 10px Tahoma, Verdana, "Lucida Sans";
}
.createdate,.modifydate,.createby {
font-size:10px;
font-weight:bold;
font-style:italic;
color:#232323;
}
.componentheading,
.contentheading,
.contentheading a:link,
.contentheading a:visited,
.contentheading a:link,
.contentheading a:visited{
color:#232323;
background: url(../images/gray/h3.jpg) no-repeat left bottom;
}
#pathway{
}
.toclink{
border:1px solid #ececec;
}
fieldset{
border:1px solid #ececec;
}
.yjsquare_in fieldset{
border:none;
}
.inputbox {
background: #FFFFFF;
border: 1px solid #ececec;
}
.inputbox:hover, .inputbox:focus {
background: #fff;
border: 1px solid #ccc;
}
/*buttons
--------------------- */
.button,.validate {
background: url(../images/gray/button.gif) no-repeat center center;
color:#eee;
}
.button_poll,a.yjns_rm{
width:59px;
height:19px;
padding:0 0 3px 0;
border:0;
text-transform:lowercase;
font-size:10px;
font-weight:bold;
letter-spacing:0.5px;
color:#eee;
background: url(../images/gray/small_button.gif) no-repeat center center;
}
a.yjns_rm{
line-height:19px;
}
a.button:link,
a.button:visited,
a.button:focus{
color:#fff;
padding:3px;
}
.back_button a:hover,.back_button a:active {
color: #000;
text-decoration: none;
}
a.pagenav,
.pagenav_prev a,
.pagenav_next a,
.pagenavbar a, .back_button a {
background:#fff;
border:1px solid #ececec;
color:#232323;
}
a.readon:link, a.readon:visited{
color:#232323;
font-size:10px;
font-weight:bold;
font-style:italic;
}
.readon span{
}
a.readon:hover,.pagenavbar a:hover {
color:#c2c2c2;
}
/*default square 
--------------------- */
.yjsquare h3{
color:#232323;
background: url(../images/gray/h3.jpg) no-repeat left bottom;
}
.yjsquare h3 span{
color:#232323;
}
.yjsquare{
background:#fff;
border:13px solid #f6f6f6;
color:#555555;
}
#advert1 .yjsquare{
background:#fff;
border:17px solid #f6f6f6;
border-top:0;
color:#555555;
margin:0 0 0 0;
}
/*_yj1*/
.yjsquare_yj1 h3{
color:#232323;
background: url(../images/gray/h3.jpg) no-repeat left bottom;
}
.yjsquare_yj1 h3 span{
color:#232323;
}
.yjsquare_yj1{
background:#fff;
border:0;
color:#555555;
}
/*_yj2*/
.yjsquare_yj2 h3{
color:#232323;
background:none;
}
.yjsquare_yj2 h3 span{
color:#232323;
}
.yjsquare_yj2{
background:#F6F6F6;
border:0;
color:#555555;
}
/*top menu
--------------------- */
#horiznav ul li a {
color: #232323;
background: url(../images/gray/topmenu/normal_l.png) no-repeat left center;
}
#horiznav ul li a:hover,
#horiznav ul li:hover a,
#horiznav ul li.sfHover a {
color: #c2c2c2;
background: url(../images/gray/topmenu/hover_l.png) no-repeat left center;
}
#horiznav li#current a,
#horiznav li#current a:hover,
#horiznav li#current:hover a,
#horiznav li#current.sfHover a,
#horiznav li.active a {
color: #c2c2c2;
background: url(../images/gray/topmenu/active_l.png) no-repeat left center;
}
#horiznav li#current,
#horiznav li#current:hover,
#horiznav li#current.sfHover,
#horiznav li.active  {
background: url(../images/gray/topmenu/active_r.png) no-repeat right center;
}
#horiznav ul li:hover li a,
#horiznav ul li.sfHover li a,
#horiznav ul li#current:hover li a,
#horiznav ul li#current.sfHover li a,
#horiznav ul li:hover ul ul li a,
#horiznav ul ul li.active  {
color: #232323;
background-image: none;
}
#horiznav li:hover ul, 
#horiznav li li:hover ul, 
#horiznav li li li:hover ul, 
#horiznav li li li li:hover ul,
#horiznav li.sfHover ul, 
#horiznav li li.sfHover ul, 
#horiznav li li li.sfHover ul,
#horiznav li li li li.sfHover ul,
#horiznav ul li:hover li a,
#horiznav ul li.sfHover li a,
#horiznav ul li:hover ul ul li a,
#horiznav ul li.sfHover ul ul li a {
background-color: #fff;
}
#horiznav li ul li a:hover,
#horiznav li ul li ul li a:hover,
#horiznav li li:hover,
#horiznav ul li li.sfHover,
#horiznav li li.sfHover a,
#horiznav ul li li:hover a,
#horiznav ul li li:hover,
#horiznav ul li li.sfHover,
#horiznav ul li li#current a:hover,
#horiznav li.haschild ul li#current.sfHover,
#horiznav li.haschild ul li#current:hover,
#horiznav ul li.haschild li#current a:hover{
background-color: #fff;
color: #c2c2c2;
background-image: none;
}
#horiznav ul li#current ul li a,
#horiznav ul li#current ul li,
#horiznav ul li#current ul li a:hover,
#horiznav ul li#current ul li.hover
#horiznav ul li#current ul li.sfHover,
#horiznav ul li.haschild li#current a {
color: #c2c2c2;
}
#horiznav li li {
border-bottom: 1px solid #e4e4e4;
}
#horiznav li ul {
border-right: 1px solid #e4e4e4;
border-left: 1px solid #e4e4e4;
border-bottom: none;
border-top: 1px solid #e4e4e4;
}
#horiznav li, #horiznav {
background: url(../images/gray/topmenu/horiz_bg.png) repeat-x 0 bottom;
font-weight: bold;
}
#horiznav li {
background: url(../images/gray/topmenu/normal_r.png) no-repeat right center;
}
#horiznav ul li:hover,#horiznav ul li.sfHover {
background: url(../images/gray/topmenu/hover_r.png) no-repeat right center;
}
#horiznav ul li ul li.haschild a.child {
background: url(../images/gray/topmenu/arrow_right.gif) 95% 50% no-repeat;
}
#horiznav ul li ul li a.child:hover {
background: url(../images/gray/topmenu/arrow_right_h.gif) 95% 50% no-repeat;
}
#horiznav ul li.active ul li a.child {
background: url(../images/gray/topmenu/arrow_right.gif) 100% 50% no-repeat;
}
/*dropline*/
#horiznav_d{
background: url(../images/gray/topmenu/horiz_bg_d.gif) repeat-x 0 top;
font-weight: bold;
}
#horiznav_d li {
background:url(../images/gray/topmenu/normal_l.png) no-repeat left center;
}
#horiznav_d li a, #horiznav_d li .separator {
background: url(../images/gray/topmenu/normal_r.png) no-repeat right center;
color: #232323;
}
#horiznav_d ul li ul{
background: url(../images/gray/topmenu/horiz_bg_dd.png) repeat-x left bottom;/*mora*/
}
#horiznav_d li.active, #horiznav_d li.active:hover, 
#horiznav_d li.active.sfHover, 
#horiznav_d li:hover, #horiznav_d li.sfHover {
background: url(../images/gray/topmenu/active_l.png) no-repeat left center;
}
#horiznav_d li.active a, #horiznav_d li.active .separator, 
#horiznav_d li.active a:hover, #horiznav_d li.active .separator:hover, 
#horiznav_d li:hover a, #horiznav_d li:hover .separator, 
#horiznav_d li.sfHover a, #horiznav_d li.sfHover .separator {
background: url(../images/gray/topmenu/active_r.png) no-repeat right center;
color: #c2c2c2;
}
#horiznav_d li.haschild li a:hover,
#horiznav_d li.haschild li.active a{
text-decoration:underline;
color: #c2c2c2;
background:#fff;
}
#horiznav_d li.haschild li a{
color:#232323;
font-weight: bold;
background:#fff;
}
/*side menus 2
--------------------- */
#mainlevel li a,
.menu li a,
a.mainlevel{
background:#fff url(../images/gray/mainlevel.jpg) no-repeat left top;
}
#mainlevel li a:hover,
#mainlevel a#active_menu:link,#mainlevel a#active_menu:visited,
a.mainlevel:hover,
a.mainlevel#active_menu,
#mainlevel li a:hover,
#mainlevel a#active_menu:link,#mainlevel a#active_menu:visited,
.menu li a:hover,.menu li.active a {
background:#fff url(../images/gray/mainlevel.jpg) no-repeat left bottom;
}
a.sublevel {
background: url(../images/gray/strelica.gif) no-repeat 5px 9px;
}
a.sublevel:hover{
text-decoration:underline;
}
#footmod a.mainlevel:hover,
#footmod a.mainlevel:active,
#footmod a.mainlevel:focus,
#mainlevel li a:hover,
#mainlevel a#active_menu:link,
#mainlevel a#active_menu:visited,
a.mainlevel#active_menu,
a.sublevel,a.sublevel:hover,
a.sublevel:active,a.sublevel:focus,
#active_menu,a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus,
ul li a:hover,
li.active a,
li.parent a {
color:#c2c2c2;
}
a.mainlevel,
#mainlevel li a{
color:#232323;
}
.yjsquare li.active ul li a,
a.sublevel#active_menu{
color:#232323;
}
.yjsquare li.active ul li a:hover,
.yjsquare li.active ul li.active a{
color:#c2c2c2;
background:#fff url(../images/gray/mainlevel.jpg) no-repeat left top;
}
body li{
padding-left:15px;
background: url(../images/gray/strelica.gif) no-repeat 0px 7px;
font-family: Verdana, Arial, Helvetica,  sans-serif; font-size: 11px; text-decoration: none;
}
/*sectiontable entery colors
--------------------- */
table.pollstableborder tr.sectiontableentry0 td {
border: none;
background: #f3f2f2;
}
table.pollstableborder tr.sectiontableentry1 td,
table.pollstableborder tr.sectiontableentry2 td  {
border: none;
}
.sectiontableheader {
border: 1px solid #DEDEDE;
background:#EEEEEE;
border-left:none;
border-right:none;
}
.sectiontableentry1 {
background-color : #DEDEDE;
}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td,
td.sectiontableentry0, td.sectiontableentry1,td.sectiontableentry2 {
border-bottom: 1px solid #fff;
}
tr.sectiontableentry0 td, td.sectiontableentry0,
tr.sectiontableentry2 td, td.sectiontableentry2 {
background-color: #ececec;
}
tr.sectiontableentry1 td, td.sectiontableentry1 {
background-color: #F0F0F0;
}
tr.sectiontableentry0:hover td, tr.sectiontableentry1:hover td,
tr.sectiontableentry2:hover td {
background-color: #EEEEEE;
}
/* YJ tweeter */
div.yj_twitter_updated {
color:#c2c2c2;
}
div.yj_twitter_follow {
}
/* advert 1 */
#advert1{
background:#f6f6f6 url(../images/gray/advert1_top.gif) repeat-x left top;
}
/* users 1 - 8 shelfs*/
#tops,#bottoms{
background:#f6f6f6;
}
/* Accordion news slider */
.yjsquare_accslider{
border:17px solid #f6f6f6;
border-top:0;
}
/* YJ multitabs */
#tabs li,
#tabs li.last,
#tabs li.last:focus{
color:#c2c2c2;
}
#tabs li.last selected,
#tabs li.last:hover,
#tabs li.last.selected{
color:#1D1D1D;
background:none;
}
.yjsquare_yjmutlitab{
border:13px solid #f6f6f6;
}
#tabs_container,
#tabs_container2,
#tabs_container3 { 
background:#fff url(../images/gray/h3.jpg) repeat-x left 30px;
}
#tabs li{
background: url(../images/gray/tab1.gif) no-repeat right 8px;
}
#tabs li.selected,
#tabs li:hover{ 
background: url(../images/gray/tab1.gif) no-repeat right 8px;
border-bottom:none; 
color:#1D1D1D;
}
.news_item_s,
.news_item_c,
.news_item_f{
border:13px solid #f6f6f6;
}